# Build output
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.vsp
*.vspx
*.log
*.tlog
*.v12.suo
*.cache
*.ide

# Visual Studio specific
.vscode/
.vs/
.idea/

# Rider / JetBrains
*.sln.iml
.idea/
*.dotCover
*.resharper
*.sln.DotSettings.user

# Dependency & Package Management
node_modules/
packages/
!packages/build/

# Environment variables & Config Secrets
.env
appsettings.Development.json
appsettings.Local.json
secrets.json

# NuGet packages
*.nupkg
*.snupkg
project.lock.json
global.json
.nuget/

# ASP.NET Core publish output
wwwroot/
wwwroot/dist/

# Logs & Cache
*.log
logs/
coverage/
TestResults/
.DS_Store

# Resharper & Rider
_ReSharper*/
*.[Rr]e[Ss]harper

# Temporary files
*.bak
*.swp
*.pid
*.lock
*.db-wal
*.db-shm

# Docker
**/[Dd]ockerfile
**/docker-compose*